<html>
  <head></head>
  <body>
    <p>
      <%= message %><br>
      <% if message == "You got it right!" %>
        <%= "The SECRET NUMBER is #{settings.secret}" %>
      <% end %>
    </p>
    <form>
      <input type='text' name="guess" />
      <input type='submit' value="Guess!" />
    </form>
  </body>
</html>
